
body {
	background-image: url(images/bg.jpg);
    font: 12px/1.5 Arial;
    color: white;
}
.cover{
    position: absolute;
    right: 0px;
    top:0;
    z-index: 1000;
    cursor:pointer;
}
html,body,div,p,ul,li,img {
    margin: 0;
    padding: 0;
}
.travel_focus img{
    transition: all 1.5s;
}
.travel_focus img:hover{  /*鼠标悬停效果*/
    transform:scale(1.3);
    -moz-transform:scale(1.3); /* Firefox 4 */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
}
.headbar{
	height: 153px;
	background-color: rgb(255,126,0);
	margin-top: 10px;
	margin-bottom: 10px;
}
#picleft{
    margin-left: 69px;
}
#picright{
    margin-right: 30px;
}
.mainbox, .remarks{
	background-color: rgba(0,0,0, 0.3);
	width: 1020px;
	margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.newshead{
	height: 50px;
	font-family: Microsoft YaHei;
	font-size: 35px;
	color: white;
	padding: 20px;
	padding-left: 35px;
}
.remarks{
    font-family: Microsoft YaHei;
    font-size: 13px;
}
.remark_head, .remark_end{
    padding: 10px;
}
.controlBar, .controlBar span{
    float: right;
    margin-right: 10px;
}
.controlBar span:nth-child(1){
    margin-right: 0;
}
.remarkSection{
    margin: 10px;
}
.remarkPiece{
    min-height: 80px;
    background-color: rgba(140,140,140, 0.33);
    padding: 10px;
    margin: 10px;
}
.photo{
    width: 70px;
    height: 70px;
    float: left;
}
.remarkPieceRight{
    width: 900px;
    margin-left: 70px;
}
.remark_option{
    height:19px;
}
.remark_content{
    padding: 10px;
}
.comment, .agrees{
    height: auto;
    float: right;
    margin-right: 15px;
}
.username, .comment, .agrees{
    color: #85c7ff;
}

ul,li{
    list-style: none;
    float: left;
}
a:link,a:visited {
    color: #0fa7ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a:hover {
    color: #ff6407;
    text-decoration: underline;
}
.thRelative {
    position: relative;
    top: 0;
    left: 0;
}

.travel_banner {
    width: 1200px;
    margin: 0 auto;
    height: 619px;
}
.travel_focus {
    width: 1200px;
    height: 619px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.travel_focus ul {
    height: 1200px;
    position: absolute;
}
.travel_focus ul li {
    width: 980px;
    height: 619px;
    overflow: hidden;
    position: relative;
    background: #000;
}
.travel_focus ul li div {
    position: absolute;
    overflow: hidden;
}
.travel_focus .btn {
    position: absolute;
    height: 22px;
    left: 392px;
    bottom: 10px;
    z-index: 200;
}
#travel_focus .btnBg{
    opacity: 0.5;
}
.travel_focus .btn span {
    display: inline-block;
    _display: inline;
    _zoom: 1;
    text-align: center;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 20px;
    margin-left: 10px;
    cursor: pointer;
    background: #333;
}
.travel_focus .btn span.on {
    background: #FF6600;
}
.travel_focus .preNext {
    width: 45px;
    height: 50px;
    position: absolute;
    top: 280px;
    background: url(images/destin_main.png) no-repeat -4px -52px;
    cursor: pointer;
    z-index: 200;
}
.travel_focus .pre {
    left: 0;
}
.travel_focus .next {
    right: 0;
    background-position: -50px 0;
}


.travel_listimg,.travel_listimg ul,.travel_listimg ul li {
    width: 950px;
}
.travel_listimg .btn span {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-left: 5px;
}
.travel_listimg .travel_btn {
    width: 950px;
    height: 32px;
    position: relative;
    left: 0;
    top: 587px;
}
.travel_listimg .travel_btn_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 950px;
    height: 32px;
    background: #333;
    opacity: 0.66;
    filter: alpha(opacity = 66);
    z-index: 1;
}
.travel_listimg .btn {
    left: 780px;
    bottom: 5px;
}
.travel_listimg .travel_btn_text {
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 32px;
    z-index: 100;
    font-size: 14px;
    font-family: Microsoft YaHei;
}
.travel_listimg .travel_btn_text p {
    height: 32px;
    overflow: hidden;
    position: relative;
}
